<div class="form-group">
    <label for="name">Purpose name</label>
    <input required placeholder="<%= purpose.name%>" type="text" name="name" id="name" class="form-control">
  </div>
  
  <a href="/purposes" class="btn btn-secondary">Cancel</a>
  <button type="submit" class="btn btn-primary">Save</button>